* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 24px;
    letter-spacing: 1px;
    background-color: #f2e9e4;
}
h1,
h2,
h3 {
    color: #0077b6;
    padding-left: 10px;
}

header {
    background-color: #1a374d;
    color: #ffffff;
    padding: 20px;
    height: 75px;
    width: 100%;
    position: fixed; /* Position fixed to top 0  */
    top: 0;
}

a {
    color: #f2e9e4;

    text-decoration: none;
}
a:hover {
    color: #ffffff;
    font-size: 18px; /* Hover effect */
}
nav ul {
    list-style-type: none;

    display: flex; /* flext to align nav links horizontally */
    justify-content: space-around;
    align-items: center;
}
main {
    color: #2b2d42;
    padding: 20px;
    height: 100vh;
    margin-top: 75px;
}
.main-container {
    max-width: 85%;

    margin: 0 auto; /*  To center the main content */
}
h1 {
    margin: 20px;
    text-align: center;
    font-size: 40px;
}
main p {
    padding: 10px;
    margin-bottom: 5px;
}

main ul {
    padding: 5px 20px;
}

/* Project page */
.grid-container {
    display: grid; /* using grid for page layout */
    grid-template-columns: 20% 80%;
    grid-auto-flow: row;
    grid-template-areas: ". ." "side prjct" ". .";
}
aside {
    padding: 20px;
    grid-area: side;
    /* max-width: 25%; */
    padding-top: 100px;
    color: #0077b6;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
aside a {
    color: #0077b6;
}
aside a:hover {
    font-size: 15px;
    color: #1a374d;
}
aside p {
    font-size: 22px;
    margin: 20px;
}
.grid-container-main {
    grid-area: prjct;
}
.main-project-container {
    /* max-width: 75%; */
    padding-bottom: 80px;
    margin: 0 auto; /*  To center the main content */
}
.main-project-container h3 {
    padding: 10px;
}
figure {
    margin-left: 10px;
}
img {
    width: 500px;
    height: 300px;
}

/* contact page */
.main-contact-container {
    max-width: 70%;
    margin: 0 auto; /*  To center the main content */
}
fieldset {
    border-radius: 10px;
}

.form-container {
    padding: 20px;

    /*  using grid to layout form */

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    gap: 20px;
    justify-items: center;
    align-items: center;
    grid-template-areas:
        ". ." ". ."
        ". ." "gender gender"
        "aboutus aboutus"
        "msg msg"
        "submit submit";
}
.input-gender {
    grid-area: gender;
}
.input-aboutus {
    grid-area: aboutus;
}
.input-msg {
    grid-area: msg;
}
.input-button {
    grid-area: submit;
    margin: 0 auto;
    justify-self: center;
}

.input-button input {
    padding: 15px;
    width: 200px;
    color: #f2e9e4;

    border-radius: 6px;
    border: none;
    background-color: #0077b6;
}
.input-button input:hover {
    /* Submit button hover effect */
    background-color: #ffffff;
    color: #0077b6;
    border-radius: 10px;
}
input,
textarea,
select {
    border: 0.5px solid #5c5f80;
    border-radius: 4px;
    padding: 6px;
}

footer {
    background-color: #2b2d42;
    color: #f2e9e4;
    width: 100%;
    height: 75px;
    position: fixed; /* Position fixed to bottom: 0 */
    bottom: 0;
    font-size: 12px; /* Small font size for footer */
    text-align: center; /* To center */
}
